<!DOCTYPE html>
<html lang="en">

<head>

</head>
<body>
<style>
    div{
  text-align: center;
        }
    </style>
<div>
    <h1>Mapper</h1>

    <form action="/login">
        <input type="submit" value="Log in" />
    </form>
    <br>
    <form action="/register">
        <input type="submit" value="Sign up" />
    </form>
    <br><br>

    <a href="/uploadFile">Upload</a>
    <br>

    <a href="/loggedin">Logged in</a>
    <br>
    <a href="/loggedInUser">Logged in user</a>
    <br>
    <a href="/post">Post</a>
    <br>
    <a href="/users">Users</a>
<br>
</div>
</body>
</html>