<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <style>
    div{
  text-align: center;
        }
    </style>
    <div>
    <h2>Login to your account</h2>

    <form action="#" th:action="@{/login}" th:object="${user}"  method="post">
        <input type="text" name="username" id="username" placeholder="User name" th:field="*{UserName}"/>
        <br><br>
        <input type="text" name="password" id="password"  placeholder="Password" th:value="*{PassWord}"/>
        <br><br>
        <input type="submit" value="Login"/>
    </form>
    </div>
</body>
</html>