<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/style.css}" />
<body>
<select th:switch="${posts}">
    <option th:each="loc : ${locations}" th:value="${loc.id}" th:text="${loc.locationName}">Volvo</option>
</select>
<div th:switch="${posts}">
    <h2 th:case="null">No uploads</h2>
    <div th:case="*">
        <h2>Uploads</h2>
            <div th:class="post" th:each="post : ${posts}">
                <div th:class="posti" th:style="'background:url(../Image/'+${post.id}+'.jpg);'">
                <div  th:class="loc"  th:text="${post.locationID.locationName}"></div>
                <div th:class="user" th:text="${post.userID.userName}"></div>
                </div>
            </div>
    </div>
</div>
</body>
</html>