<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Sign up</h2>
<form action="#" th:action="@{/register}" th:object="${user}" enctype="multipart/form-data"  method="post">
    <input type="text" name="firstname" id="firstname" placeholder="First name" th:field="*{firstName}"/>
    <input type="text" name="lastname" id="lastname" placeholder="Last Name" th:field="*{lastName}"/>
    <input type="text" name="username" id="username" placeholder="User Name" th:field="*{userName}"/>
   <input type="text" name="password" id="password" placeholder="Password" th:field="*{passWord}"/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>